body {
    background-color: rgba(157, 255, 127, 0.377);
}
h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    margin-bottom: 3cm;
}

#back {
    border-radius: 0.2cm;
    font-size: large;
    color: black;
    border-color: black;
    background-color: greenyellow;
    margin-top: 0.1cm;
    margin-bottom: 0.1cm;
}

.btns {
    background-color: gray;
    width: 3cm;
    border-radius: 0.2cm;
    position: fixed; 
    display: block;
}

#zrk {
    text-decoration: none;
    color: black;
}

#upd {
    border-radius: 0.2cm;
    font-size: large;
    color: black;
    border-color: black;
    background-color: greenyellow;
    margin-top: 0.1cm;
    cursor:not-allowed;
    margin-bottom: 0.1cm;
}

#upd:hover {
    border-color: red;
}

#mainb {
    border-radius: 0.2cm;
    font-size: large;
    color: black;
    border-color: black;
    background-color: greenyellow;
    margin-top: 0.1cm;
    cursor:pointer;
    margin-bottom: 0.1cm;
}

.texte {
    border-color: black;
    border: solid;
    border-radius: 0.3cm;
    background-color: aliceblue;
    text-align: center;
}

.texte:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}

#note {
    display: none;
}