body {
    background-color: gray;
} 

#title {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: red;
    color: whitesmoke;
    margin-top: 0;
    border-radius: 0.1cm;
}

#subtext {
    text-align: center;
    font-size: 0.5cm;
}


li {
    margin-bottom: 0.2cm;
}

#link {
    color: orange;
    margin-bottom: 0;
    margin-left: 0;
}

#link:hover {
    color: lightsalmon;
}

#menuh {
    text-align: center;
    text-decoration-line: underline;
}

#PC {
    width: 50%;
    border: black;
    border: solid;
    border-radius: 1cm;
    margin-top: 0.4cm;
    margin-left: auto;
    display: block;
    margin: auto;
}

#pc {
    white-space: nowrap;
    width: 30%;
    border-top: black;
    border: solid;
    border-radius: 0.7cm;
}

#pc:hover {
    border-color: orange;
    border-radius: 1cm;
}

#pctypenh {
    text-decoration-line: underline;
}

li {
    list-style: none;
    background-color: rgb(58, 58, 58);
    width: 3cm;
    float: left;
    height: 1cm;
}

#note {
    display: none;
}

.hauptmenu {
    background-color: rgb(58, 58, 58);
    margin: auto;
}